<h1>index page</h1>

<td><%= link_to 'New hand', new_hand_path %></td>

<table>
  <tr>
    <th>Cards</th>
    <th>Result</th>
  </tr>
  <% @hands.each do |hand|%>
  <tr>
    <td><%=hand.cards%></td>
    <td><%=hand.result%></td>
    <td><%=link_to 'show', hand_path(hand)%>
    <td><%=link_to 'delete', hand_path(hand), method: :delete%>
  </tr>
  <%end%>
</table>